{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 shadow">
                    <center>
                        <h1 style="width: 100%;" class="btn btn-info disabled"><a class="btn btn-success float-left" href="{% url 'view_courses' %}">View</a> ADD COURSE <b class="float-right btn btn-warning"> Total Classes {{courses_count}}</b></h1>
                    </center>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} {{ form|crispy }}
                        <button style="width: 60%;" class=" btn btn-success " type="submit"> SUBMIT</button>
                        <a style="width: 30%;" class="btn btn-info" href="{% url 'dashboard' %}">Dashboard</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .asteriskField {
        content: "*";
        color: red;
        font-size: 20px;
        padding: 5px;
    }
    
    label {
        color: black;
    }
</style>

{% endblock %}