{% extends 'accounts/basedashboard.html' %}
{% block content %}
{% load crispy_forms_tags %}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div style="padding: 10px;" class="col-md-12 shadow">
                            <center>
                                {% if messages %}
                                <center>
                                    <div class="alert alert-success">
                                         {% for x in messages %}{{x}}{% endfor%}
                                    </div>     
                                </center>
                                {% endif %}
                                <h1 style="width: 100%;" class="btn btn-info disabled">CHANGE CURRENT PASSWORD</h1>
                            </center>
                            <form method="POST">
                                <h6 style="color: black;">
                                    Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</h6> {% csrf_token %} {{ form|crispy }}
                                <button style="width: 60%;" class=" btn btn-success " type="submit">Save changes</button>
                        <a style="width: 30%;" class="btn btn-info" href="{% url 'dashboard' %}">Dashboard</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <style>
                .asteriskField {
                    content: "*";
                    color: red;
                    font-size: 20px;
                    padding: 5px;
                }
                
                label {
                    color: black;
                }
            </style>
            
{% endblock %}
