{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 card">
                    <h2 style="color: red;"></h2>
                    <h1> Are you sure you want to delete "{{s}}" ?</h1>
                    <form action="{% url 'delete_upload_student_own_assignment' s.id %}" method="POST">
                        {% csrf_token %}
                        <br>
                        <br>
                        <button style="width: 50%;" class="btn btn-danger" type="submit" name="confirm">Confirm</button>
                        <a style="width: 30%;" class="btn btn-success" class="btn btn-success" href="{% url 'view_assignment_student' %}">Cancel</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}