{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 card">
                    <h1 style="color:blue;">APPROVAL STATUS </h1>
                    <form action="" method="post">
                        {% csrf_token %} {{form}} <br>
                        <button style="width:100px;" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #id_approved {
        width: 100px;
        height: 100px;
        border-radius: 200px;
    }
    
    label {
        display: none;
    }
</style>


{% endblock %}