{% extends 'accounts/base.html' %} {% block content%} {% load crispy_forms_tags %}
<br>
<br>
<br><br><br>
<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-md-12 card ">
            <div class="text-center" style="width: 80%; margin: 0 auto">
                <h1>Password Reset Form</h1>
                <h6 style="width: 60%; margin: 0 auto">
                    Please enter your new password so we can verify.
                </h6>
            </div>
            <br />
            <form action="" method="post">
                {% csrf_token %} {{form|crispy}}
                <input class="btn btn-primary" type="submit" value="Reset Password" />
                <br><br>
            </form>

        </div>
    </div>
</div>
<style>
    .asteriskField {
        content: '*';
        color: red;
        font-size: 20px;
        padding: 5px;
    }
</style>
<br>
<br>
<br> {% endblock%}