{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 shadow">
                    {% if messages %}
                    <i class="btn btn-success disabled" style="width: 100%;"> {% for me in messages %}{{me}}{% endfor %}</i> {% endif %}
                    <button style="width: 100%; " class="btn btn-primary"><a class="btn btn-success float-left" href="{% url 'add_online_class' %}">ADD</a> ONLINE CLASES I HAVE SET <b class=" btn btn-warning float-right ">Total  {{count}}  </b></button>
                    <hr>
                    <table class="table table-bordered  table-responsive-lg table-striped">
                        <tr>
                            <th>Class</th>
                            <th>Day </th>
                            <th>Unit </th>
                            <th>Time</th>
                            <th>CLASS</th>
                            <th>Date Added</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                        {% for x in obj %}
                        <tr>
                            <td>{{x.target_class}}</td>
                            <td>{{x.day}}</td>
                            <td>{{x.unit}}</td>
                            <td>{{x.time}}</td>
                            <td><a target="_blank" href="{{x.class_link}}">JOIN CLASS</a></td>
                            <td>{{x.date_added}}</td>
                            <td><a href="{% url 'update_online_class' x.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_online_class' x.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}