{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 card">
                    {% if messages %}
                    <i class="btn btn-success disabled" style="width: 100%;"> {% for me in messages %}{{me}}{% endfor %}</i> {% endif %}
                    <button style="width: 100%; " class="btn btn-primary"><a class="btn btn-success float-left" href="{% url 'add_courses' %}">ADD</a> ALL COURSES <b class=" btn btn-warning float-right ">Total  {{courses_count}}  </b></button>
                    <table class="table table-bordered  table-responsive-lg table-striped">
                        <tr>
                            <th>Course</th>
                            <th>School</th>
                            <th>Course ID</th>
                            <th>Description</th>
                            <th>Added on</th>
                            <th>Action</th>
                            <th>Action</th>

                        </tr>
                        {% for x in x %}
                        <tr>
                            <td>{{x.course_name}}</td>
                            <td>{{x.school_of}}</td>
                            <td>{{x.course_ID}}</td>
                            <td style="word-break: break-all;">{{x.course_description}}</td>
                            <td>{{x.date_added}}</td>
                            <td><a href="{% url 'update_courses' x.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_course' x.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}