{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 10px;" class="col-md-12 shadow">
                    {% if messages %}
                    <i class="btn btn-success disabled" style="width: 100%;"> {% for me in messages %}{{me}}{% endfor %}</i> {% endif %}
                    <button style="width: 100%; " class="btn btn-primary"><a class="btn btn-success float-left" href="{% url 'add_class' %}">ADD</a> CLASSES REGISTERD <b class=" btn btn-warning float-right ">Total  {{classes_count}}</b></button>
                    <table class="table  table-bordered table-hover table-responsive-lg">
                        <tr>
                            <th>Class Name</th>
                            <th>Class Code</th>
                            <th>Date Added</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                        {% for x in classes %}
                        <tr>
                            <td>{{x.Class_Name}}</td>
                            <td>{{x.Class_code}}</td>
                            <td>{{x.Registration_Date}}</td>
                            <td><a href="{% url 'update_class' x.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_class' x.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}