{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img style="width:100%;height:340px;" src="/static/img/Logo.png" alt="">

            <center>
                <h2>Diploma in Business Administration/Management</h2>
            </center>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 " style="padding:15px;">


            DURATION: 2yrs ENTRY REQUIREMENT: KCSE C- AND ABOVE
            <h3>MODULE 1</h3>
            <ul>
                <li>FINANCIAL ACCOUNTS</li>
                <li>ICT</li>
                <li>COMMUNICATION SKILLS</li>
                <li>ECONOMICS</li>
                <li>BUSINESS LAW</li>
                <li>ENTREPRENEURSHIP(BUSINESS PLAN)</li>
            </ul>
            <h3>MODULE 2</h3>
            <ul>
                <li>MARKETING MANAGEMENT</li>
                <li>SUPPLY AND TRANSPORTATION MGT</li>
                <li>QUANTITATIVE TECHNIQUES</li>
                <li>COST ACCOUNTING</li>
            </ul>

        </div>
        <div class="col-md-6">
            <h3>MODULE 3</h3>
            <ul>
                <li>ORGANISATION THEORY % BEHAVIOUR</li>
                <li>LABOUR AND INDUSTRIAL RELATIONS</li>
                <li>PRINCIPLES AND PRACTICE MANAGEMENT/li>
                    <li>HUMANA RESOURCE MANAGEMENT AND INDUSTRIAL RELATIONS/li>
                        <li>MANAGERIAL ACCOUNTING</li>
                        <li>FINANCIAL MANAGEMENT/li>
                            <li>RESEARCH PROJECTS</li>
                            <li>RESEARCH METHODS</li>
            </ul>
            <h3>TUTION FEE PER TERM</h3>
            <p>Ksh 11,000 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>
        </div>
    </div>
</div>

<style>
    h3 {
        color: blue;
    }
</style>
{% endblock %}