{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">

        <img style="width:100%;height:340px;" src="/static/img/Logo.png" alt="">

        <center>
            <h1>Certificate in Business Administration/Management - KNEC</h1>
        </center>
        <style>
            ul,
            li {
                padding: 4px;
            }
        </style>
        <div class="col-md-6">
            DURATION: 2yrs ENTRY REQUIREMENT: KCSE D

            <h4 style="color:blue;">COURSE STRUCTURE</h4>
            <h4><b>MODULE 1</b></h4>
            <ul>
                <li>FUNDAMENTALS OF MGT & ENVIRONMENT</li>
                <li>ICT</li>
                <li>BUSINESS CALCULATIONS & STATISTICS</li>
                <li>COMERCE</li>
                <li>COMMUNICATION SKILLS</li>
                <li>ENTREPRENEURSHIP</li>
                <li>LIFE SKILLS</li>

            </ul>

        </div>
        <div class="col-md-6">
            <h4>MODULE 2</h4>
            <ul>
                <li>OFFICE ORGANIZATION</li>
                <li>HUMAN AND PUBLIC RELATIONS/li>
                    <li>BUSINESS LAW</li>
                    <li>ECONOMICS</li>
                    <li>BUSINESS FINANCE</li>
                    <li>SALES AND MARKETING</li>
                    <li>COURSE SPLECIALIZATION</li>
            </ul>

            <h4>TUTION FEE PER TERM</h4>
            <p>Ksh 9,000 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>
        </div>
    </div>
</div>

<style>
    h4 {
        color: blue;
    }
</style>
{% endblock %}