{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 " style="padding:15px;">
            <img style="width:100%;height:300px;" src="/static/img/Logo.png" alt="">
            <h1 style="background-color: black;color:white;padding:10px;">Certificate in Early Childhood Education</h1>
            <p> Duration 1 YR ENTRY REQUIREMENT: KCSE C- & D+</p>

            COURSE STRUCTURE <br/> CHILD GROWTH AND DEVELOPMENT<br/> INTRODUCTION TO CHILD PSYCHOLOGY.<br/> CHILD WITH SPECIAL NEEDS.<br/> EARLY CHILDHOOD DEVELOPMENT AND EDUCATION CURRICULUM.<br/> INSTRUCTIONAL AND LEARNING APPROACHES.<br/> MATHEMATICS
            ACTIVITIES.
            <br/> MUSIC AND MOVEMENT ACTIVITIES.<br/> PHYSICAL ACTIVITIES.<br/> FOUNDATION, ADMINISTRATION AND MANAGEMENT OF ECDE IN KENYA.<br/> TEACHING PRACTICE.<br/> MATERIAL DVELOPMENT.<br/> COMMUNITY DEVELOPMENT.<br/> CHILD RIGHTS AND CHILD PROTECTION.<br/>            GENERAL KNOWLEDGE.<br/> HEALTH, NUTRION AND CARE.<br/> LANGUAGE ACTIVITIES.<br/> SCIENCE ACTIVITIES.<br/> SOCIAL ENVIRONMENTAL ACTIVITIES.<br/> CREATIVE ACTIVITIES.<br/> RELIGIOUS EDUCATION.<br/> KISWAHILI.
            <br/> English
            <br/>

            <h3>TUTION FEE PER TERM</h3>
            <p>Ksh 11,000 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>

            <h1>Certificate In ICT</h1>

            DURATION: ENTRY REQUIREMENT :KCSE D plain and above

            <h2>COURSE STRUCTURE</h2>
            <h3>MODULE I</h3>
            INTRODUCTION TO ICT. <br> COMPUTER APPLICATION. <br> MATHEMATICS. <br> BASIC ELECTRONICS. <br> COMMUNICATION SKILLS

            <h3>MODULE II</h3>
            COMPUTER MAINTENANCE & SUPPORT <br> COMPUTER APPLICATION II <br> STRUCTURED PROGRAMMING <br> COURSE SPECIALIZATION PROJECT ENTREPRENEURSHIP(BUSINESS PLAN) LIFE SKILLS

            <h3>TUTION FEE PER TERM</h3>
            <p>Ksh 9,000 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>

        </div>
    </div>
</div>
{% endblock %}