{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img style="width:100%;height:340px;" src="/static/img/Logo.png" alt="">
            <center>
                <h4>DIPLOMA IN HOUSE KEEPING & FRONT OFFICE OPERATION</h4>
            </center>

            DURATION: 1yr ENTRY REQUIREMENT: KCSE D plain and above

            <h4>COURSE STRUCTURE</h4>
            <ul>
                <li>CUSTOMER SERVICE </li>
                <li>HOUSE KEEPING AND ACCOMODATION STUDIES</li>
                <li>FIRST AID </li>
                <li>FRONT OFFICE ADMINISTRATION AND OPERATION</li>
                <li>COMMUNICATION SKILLS </li>
                <li>LAUNDRY OPERATIONS THEORY & PRACTICE</li>
            </ul>

            <h4>TUTION FEE PER TERM</h4>
            <p>Ksh 13,500 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>
        </div>
    </div>
</div>
{% endblock %}