{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br><br><br><br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <center>
                            <h2>- SCHOOL OF EDUCATION -</h2>
                        </center>
                        <img style="width:100%;height:400px;" src="/static/Picture1 (copy).png" alt="">
                    </div>
                </div>
            </div>
            <center>
                <h1></h1>
            </center>

            <div style="background:rgb(0,0,0,.8) ; top:-350px;width:50%; color:white;margin:auto;" class="c">
                <center>
                    <h3 style="color:white;"> Diploma in Electrical & Electronics Engineering</h3>
                </center>
            </div>
            <div style="background: rgba(209, 204, 204, 0.8); top: -150px; width:30%">
                <h4>DURATION: 1yr <br>ENTRY REQUIREMENT: KCSE C, ECDE CERT AND P1</h4>
            </div>
            <div style="background:rgba(255, 255, 255, 0.8) ; top:-200px;width:30%; color:white;margin:auto;" class="c">
                <center>
                    <h3 style="color:rgb(0, 0, 0);"><u>COURSE STRUCTURE</u></h3>
                </center>
            </div>
            <div class="list" style="top:-160px;">
                <ul>
                    <li> GENERAL PHYCHOLOGY </li>
                    <li>CURRICULUM DEVELOPMENT</li>
                    <li>ENGINEERING MATHEMATICS</li>
                    <li>CHILD GROWTH AND DEVELOPMENT I </li>
                    <li>LANGUAGE ACTIVITIES</li>
                    <li>MUSIC AND MOVEMENT ACTIVITIES</li>
                    <li>GUIDENCE AND COUNSELING </li>
                    <li>PHILOSOPHICAL,SOCIALOGICAL, AND HISTORICAL FOUNDATION OF ECDE</li>
                    <li>PHYSICAL AND PSYCHOMOTOR ACTIVITIES </li>
                    <li>TRAINING AND MANAGEMENT OF ECDE PROGRAMMES </li>
                    <li>CHILD DEVELOPMENT III </li>
                    <li>CHILDREN IN NEED OF SPECIAL PROTECTION</li>
                    <li>PERSONALITY DEVELOPMENT </li>
                    <li>CHILD RIGHTS AND CHILD PROTECTION</li>
                    <li>CHILD GROWTH AND DEVELOPMENT </li>
                    <li>MATHEMATICS ACTIVITIES </li>
                    <li>SCIENCE ACTIVITIES</li>
                    <li>HEALTH, NUTRION AND CARE</li>
                    <li>COMMUNITY DEVELOPMENT </li>
                    <li>RESEARCH MONITORING AND EVALUTION </li>
                    <li>CREATIVE ACTIVITIES</li>
                </ul>

                <u>       <h4>TUTION FEE PER TERM</h4></u>
                <p>Ksh 12,000 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}