{% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>- SCHOOL OF ENGINEERING -</h2>
            </center>
            <img style="width:100%;height:400px;" src="/static/Picture1 (copy).png" alt="">
        </div>
        <div style="background:rgb(0,0,0,.8) ; top:-350px;width:80%; color:white;margin:auto;" class="c">
            <center>
                <h3 style="color:white;"> Diploma in Electrical & Electronics Engineering</h3>

                DURATION: 2yrs ENTRY REQUIREMENT: KCSE C- AND ABOVE
            </center>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">


            <h4>COURSE STRUCTURE</h4>

            <h4><u>MODULE I</u> </h4>
            <ul>
                <li> ICT </li>
                <li>LIFE SKILLS</li>
                <li>ENGINEERING MATHEMATICS</li>
                <li>PHYSICAL SCIENCE </li>
                <li>OPERATING SYSTEMS</li>
                <li>MECHANICAL SCIENCE</li>
                <li>MATERIAL PROCESING AND WORKSHOP PRACTICE</li>
                <li>ENGINEERING DRAWING</li>
                <li>ELECTRICAL ENGINEERING PRINCIPLES</li>
                <li>ANALOGUE ELECTRONICS I </li>
                <li>ELECTRICAL MEASUREMENTS AND FAULT DIGNOSIS I </li>
                <li>ENTREPRENEURSHIP</li>

            </ul>


        </div>
        <div class="col-md-6">
            <h4><u>MODULE II </u></h4>
            <ul>
                <li>ENGINEERING MATHEMATICS II </li>
                <li>ELECTRICAL INSTALLATION TECHNOLOGY</li>
                <li>ANALOGUE ELECTRONICS II</li>
                <li>ELECTRICAL MEASUREMENTS AND FAULT DIGNOSIS II </li>
                <li>SOLAR INSTALLATION SYSTEMS</li>
                <li>CONTROL SYSTEMS</li>
                <li>DIGITAL ELECTRONICS</li>
                <li>ENGINEERING DRAWING AND DESIGN</li>
                <li>INDUSTRIAL PROGRAMMABLE LOGIC CONTROLERS</li>
                <li>BUSINESS PLAN</li>
                <li>ELECTRIC CIRCUT ANALYSIS</li>
                <li>BUILDING SERVICES AND PROTECTION</li>
                <li>ELECTRICAL POWER GENERATION AND TRANSMISSION</li>
                <li>MATERIAL PROCESING AND WORKSHOP PRACTICE</li>

            </ul>

            <h4><u>MODULE III</u></h4>
            <ul>
                <li>ENGINEERING MATHEMATICS III</li>
                <li>MICROCONTROLLER TECHNOLOGY</li>
                <li>INDUSTRIAL ORGANISATION AND MANAGEMENT</li>
                <li>ESTIMATION</li>
            </ul>
            <div style="width:100%;height:80px;background-color:darkblue; color:white;" class="f">
                <center>
                    <h5 style="color:white;">TUTION FEE PER TERM</h5>
                    <p>Ksh 13,500 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>
                </center>
            </div>
        </div>
    </div>
</div>

<style>
    h4 {
        color: blue;
    }
</style>
{% endblock %}