 {% extends 'accounts/base.html' %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<br><br>
<br>
<br>
<br>
<!-- Intro -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <center>
                    <h2>- SCHOOL OF COMPUTER STUDIES -</h2>
                </center>
                <img style="width:100%;height:400px;" src="/static/Picture1 (copy).png" alt="">
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h2>Diploma in ICT - KNEC</h2>

            DURATION: 2yrs ENTRY REQUIREMENT: KCSE C- AND ABOVE

            <h2>COURSE STRUCTURE</h2>

            <h3>MODULE I </h3>
            <ul>
                <li>INTRODUCTION TO ICT AND ETHICS</li>
                <li>COMPUTER APPLICATION</li>
                <li>STRUCTURED PROGRAMMING</li>
                <li>COMMUNICATION SKILLS</li>
                <li>OPERATING SYSTEMS</li>
                <li>COMPUTER MATHEMATICS</li>
                <li>ENTREPRENEURSHIP/li>

            </ul>

            <h3>TUTION FEE PER TERM</h3>
            <p>Ksh 13,500 payable in 3 installments of :60%- first month, 20% for the second month and third month</p>

        </div>
        <div class="col-md-4">

            <h3>MODULE II </h3>
            <ul>
                <li>SYSTEM ANALYSIS</li>
                <li>COMPUTER APPLICATION II</li>
                <li>OBJECT ORIENTED PROGRAMMING</li>
                <li>VISUAL PROGRAMMING</li>
                <li>DATABASES MANAGEMENT SYSTEM</li>
                <li>QUANTITATIVE METHODS</li>
            </ul>
            <h3>MODULE III </h3>
            <ul>
                <li>DATA COMMUNICATION & NETWORKING</li>
                <li>MANAGEMENT INFORMATION SYSTEM</li>
                <li>PRINCIPLES & PRACTICE OF MANAGEMENT</li>
                <li>INTERNET BASED PROGRAMMING</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}