{% extends 'accounts/basedashboard.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="padding: 20px;" class="col-md-12 card">
                    <div class="card">
                        <center>
                            <a style="width: 100%; padding:20px;" class=" btn btn-primary btn-sm" href="{% url 'view_fee' %}">
                                <h2>VIEW ALL FEES</h2>
                            </a>
                        </center>
                    </div>
                    {% if messages %}
                   <b class="alert alert-warning">
                    {% for x in messages %}{{x}}{% endfor %}
                   </b>
                   {% endif %}
                    <h1 class=""> <b> <center>SEARCH STUDENT</center></b> </h1>
         <div class="card" style="padding: 10px;">
   
            <form action="" method="post" class="form-group">
                {% csrf_token %}
                <label> Student Registration Number </label>
                <div class="row">
                    <div class="col-md-11">
                        <input class="form-control" type="text" placeholder="Enter Reg No" name="reg_no" required>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>

            </form>
         </div>
                    {% if info %}
                    

                        <table  class=" table table-responsive-lg  table-bordered">

                       <tr style="background-color: green;color:white;">
<th>Registration Number</th>
<th>First Name</th>
<th>Last Name </th>
<th>Course </th>
<th>Student Term </th>
<th>Current Arrears </th>
                       </tr>
                        {% for x in info %}
<tr>
    <td> <b>  {{x.registration_number}} </b></td>
    <td>  {{x.first_name}}</td>
    <td>  {{x.last_name}}</td>
    <td> {{x.course_assigned}}</td>
    <td>  {{x.student_term}}</td>
    <td><b style="color: green;">  KES {{query_current_arrears}}</b></td>
</tr>
</table>
                        {% endfor %} {% else %}
 
                        {% endif %}
                        <style>
                            ol {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                            }
                            li{
                                font-size: 17px;
                                padding: 2px;
                            }
                        </style>

                    {% if us %}
                    <form style="padding:20px;" class="form-group card " action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2">
                                <label> Registration Number</label>
                                <input class="form-control" required type="text" placeholder="Registration Number" name="registration_no" value="{{reg_number}}">
                            </div>

                            <div class="col-md-3">
                                <label>Amount</label>
                                <input class="form-control " required type="number" placeholder="Amount with no decimals" name="amount" value="">
                            </div>
                            <div class="col-md-2">
                                <label>Payment Method</label>
                                <select class="form-control" name="pm" id="">
                                    <option value="Mpesa">Mpesa</option>
                                    <option value="Bank">Bank</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Transaction Reference</label>
                                <input class="form-control " required type="text" placeholder="Reference number or Mpesa Code" name="code">
                            </div>

                            <div class="col-md-2">
                                <br>
                                <button style="width:100%;" class="btn btn-primary">Click To Pay</button>
                            </div>
                        </div>

                </div>
                </form>
                {% else %}

                {% endif %}
                

            </div>
        </div>
    </div>
</div>
</div>
<style>
    .woo {
        box-shadow: 2px 10px black;
        border-radius: 10px;
    }
</style>

{% endblock %}